<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <script>
        const user = {
            username: "test",
            password: "1234",
            name: "이동빈",
        }

        Object.keys(user).forEach(key => {
            console.log(key);
            console.log(user[[0]]);
        });
    </script>
</body>
</html>